<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원관리 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.ctn.role.RoleMapper">

	<sql id="addWhere">

	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			CTN_ROLE T1
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
				 ROLE_ID				                                                       as roleId			<!-- 권한고유ID -->
				,ROLE				                                                   		   as role				<!-- 권한 -->
				,ROLE_NAME				                                                   	   as roleName			<!-- 권한명칭 -->
				,FRST_REGISTER_ID		                                  		               as frstRegisterId	<!-- 최초등록ID -->
				,LAST_UPDUSR_ID			                                  		               as lastUpdusrId		<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		               as frstRegisterPnttm <!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	  	               as lastUpdusrPnttm 	<!-- 최종등록일 -->
		FROM
			 CTN_ROLE T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY ROLE_ID DESC
		LIMIT #{start}, #{end}
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
				 ROLE_ID				                                                   	   as roleId			<!-- 권한고유ID -->
				,ROLE   				                                                   	   as role				<!-- 권한 -->
				,ROLE_NAME				                                                   	   as roleName			<!-- 권한명칭 -->
				,FRST_REGISTER_ID		                                  		               as frstRegisterId	<!-- 최초등록ID -->
				,LAST_UPDUSR_ID			                                  		               as lastUpdusrId		<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		               as frstRegisterPnttm <!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	  	               as lastUpdusrPnttm 	<!-- 최종등록일 -->
		FROM
			 CTN_ROLE T1
		WHERE 1=1
			AND ROLE_ID = #{roleId}
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
		INSERT INTO CTN_ROLE T1
			(
				 ROLE					<!-- 권한 -->
				,ROLE_NAME				<!-- 권한명칭 -->
				,FRST_REGISTER_ID		<!-- 최초등록자 -->
				,FRST_REGISTER_PNTTM	<!-- 최초등록일 -->
			)
			 VALUES
			(
			  	 #{role}				<!-- 권한 -->
			  	,#{roleName}			<!-- 권한명칭 -->
				,#{frstRegisterId}		<!-- 최초등록자  -->
				,now()					<!-- 최초등록일 -->
			)
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE CTN_ROLE T1
			 SET
				 ROLE 					=  #{role}     			<!-- 권한 -->
				,ROLE_NAME  			=  #{roleName}  		<!-- 권한명칭 -->
				,FRST_REGISTER_ID		=  #{frstRegisterId}	<!-- 최초등록자 -->
				,FRST_REGISTER_PNTTM	=  now()				<!-- 최조등록일 -->
				
		WHERE ROLE = #{role}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM CTN_ROLE WHERE ROLE_ID = #{roleId}
	</update>

</mapper>
