<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 수신입금계좌정보 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.eqacclog.EqAccLogMapper">

	<sql id="addWhere">
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sDate)">
			AND (
				DATE_FORMAT(FRST_REGISTER_PNTTM, '%Y-%m-%d') BETWEEN #{sDate} AND #{eDate}
			)
		</if>

		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(idcSeq)">
			AND REF_EQ_IDC 	=  #{idcSeq}
		</if>

		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(eQListSeq)">
			AND REF_EQ_LIST 	=  #{eQListSeq}
		</if>

		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(seq)">
			AND SEQ 	=  #{seq}
		</if>

		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sttus)">
			AND STTUS 	=  #{sttus}
		</if>

		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(refNrlmber)">
			AND REF_NRLMBER =  #{refNrlmber}
		</if>

	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			EQ_ACCLOG
		WHERE 1=1
		AND WORKTYPECODE_ID IN (29, 27)
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 SEQ														as seq				    <!--서버고유ID-->

			 	,WORKTYPECODE_ID 												as worktypecodeId	<!-- 업무코드 ID -->
				,( SELECT NAME FROM CTN_CODE WHERE CODE_SEQ = WORKTYPECODE_ID ) as worktypecodeName <!-- 업무명칭 -->

				,REF_EQ_IDC 									  			as refEqIdc				<!-- IDC고유 SEQ -->
			    ,( SELECT NAME FROM EQ_IDC WHERE SEQ = REF_EQ_IDC ) 		as eqIdcName  			<!-- IDC 명칭 -->

				,REF_EQ_LIST 										  		as refEqList			<!-- 서버고유SEQ -->
				,( SELECT SV_IP1 FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) 	as eqListSvIp1  		<!-- 서버명칭 -->
				,( SELECT NAME FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) 		as eqListName  			<!-- 서버명칭 -->

				,REF_EQ_IDPWD 										  		as refEqIdpwd			<!-- 계정 SEQ -->
				,( SELECT ID FROM EQ_IDPWD WHERE SEQ = REF_EQ_IDPWD ) 		as eqIdpwdID  			<!-- 계정 ID -->


				,REF_NRLMBER			as refNrlmber												<!-- 회원고유번호 SEQ -->
				,( SELECT MBER_NAME FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberName  	<!-- 회원이름 -->
				,( SELECT UNIQ_ID   FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberUniqID 	<!-- 회원ID -->

				,REF_ALLOW_IP			as refAllowIp												<!-- 허용IP SEQ -->
				,( SELECT ADDR   FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpAdd  	 	<!-- 허용IP -->
				,( SELECT NAME   FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpName  	 	<!-- 허용IP 이름 -->

				,PROCESSID													as processid			<!-- 프로세스 ID -->
				,STTUS														as sttus				<!-- 처리상태(A) -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 	as frstRegisterPnttm 	<!--로그인일자-->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	as lastUpdusrPnttm 		<!--로그아웃일자-->
		FROM
			 EQ_ACCLOG T1
		WHERE 1=1
		AND WORKTYPECODE_ID IN (29, 27)
			<include refid="addWhere"/>

		ORDER BY STTUS ASC, T1.FRST_REGISTER_PNTTM DESC
		LIMIT #{start}, #{end}
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	  	SEQ										 						as seq
					,WORKTYPECODE_ID 												as worktypecodeId
					,REASON															as reason
					,( SELECT NAME FROM CTN_CODE WHERE CODE_SEQ = WORKTYPECODE_ID ) as worktypecodeName
					,REF_EQ_IDC	 													as refEqIdc
					,( SELECT NAME FROM EQ_IDC WHERE SEQ = REF_EQ_IDC ) 			as eqIdcName
					,REF_EQ_LIST 													as refEqList
					,( SELECT SV_IP1 FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) as eqListSvIp1
					,( SELECT NAME FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) as eqListName ,REF_EQ_IDPWD as refEqIdpwd
					,( SELECT ID FROM EQ_IDPWD WHERE SEQ = REF_EQ_IDPWD ) as eqIdpwdID ,REF_NRLMBER as refNrlmber
					,( SELECT MBER_NAME FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberName
					,( SELECT UNIQ_ID FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberUniqID
					,REF_ALLOW_IP as refAllowIp
					,( SELECT ADDR FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpAdd
					,( SELECT NAME FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpName
					,PROCESSID as processid
					,STTUS as sttus
					,DATE_FORMAT(T1.FRST_REGISTER_PNTTM,'%Y-%m-%d %H:%i:%s') as frstRegisterPnttm
					,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM,'%Y-%m-%d %H:%i:%s') as lastUpdusrPnttm
		FROM
			 EQ_ACCLOG T1
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<!-- 전체 목록 -->
	<select id="ListData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 SEQ														as seq				    <!--서버고유ID-->
			 	,WORKTYPECODE_ID 											as worktypecodeId		<!-- 업무코드 ID -->

				,REF_EQ_IDC 									  			as refEqIdc				<!-- IDC고유 SEQ -->
			    ,( SELECT NAME FROM EQ_IDC WHERE SEQ = REF_EQ_IDC ) 		as eqIdcName  			<!-- IDC 명칭 -->

				,REF_EQ_LIST 										  		as refEqList			<!-- 서버고유SEQ -->
				,( SELECT SV_IP1 FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) 	as eqListSvIp1  		<!-- 서버명칭 -->
				,( SELECT NAME FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) 		as eqListName  			<!-- 서버명칭 -->

				,REF_EQ_IDPWD 										  		as refEqIdpwd			<!-- 모듈고유SEQ -->
				,( SELECT ID FROM EQ_IDPWD WHERE SEQ = REF_EQ_IDPWD ) 		as eqIdpwdID  			<!-- 모듈명칭 -->


				,REF_NRLMBER			as refNrlmber												<!-- 회원고유번호 SEQ -->
				,( SELECT MBER_NAME FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberName  	<!-- 회원이름 -->
				,( SELECT UNIQ_ID   FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberUniqID 	<!-- 회원ID -->

				,REF_ALLOW_IP			as refAllowIp												<!-- 허용IP SEQ -->
				,( SELECT ADDR   FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpAdd  	 	<!-- 허용IP -->
				,( SELECT NAME   FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpName  	 	<!-- 허용IP 이름 -->

				,PROCESSID													as processid			<!-- 프로세스 ID -->
				,STTUS														as sttus				<!-- 처리상태(A) -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 	as frstRegisterPnttm 	<!--로그인일자-->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	as lastUpdusrPnttm 		<!--로그아웃일자-->
		FROM
			 EQ_ACCLOG T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY T1.FRST_REGISTER_PNTTM DESC, STTUS ASC
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
		INSERT INTO EQ_ACCLOG
			(
				 WORKTYPECODE_ID 		<!-- 업무코드 ID -->
				,REF_EQ_IDC 			<!-- IDC고유 SEQ -->
				,REF_EQ_LIST 			<!-- 서버고유SEQ -->
				,REF_EQ_IDPWD 			<!-- 모듈고유SEQ -->
				,REF_NRLMBER			<!-- 회원고유번호 SEQ -->
				,REF_ALLOW_IP			<!-- 허용IP SEQ -->
				,PROCESSID				<!-- 프로세스 ID -->
				,STTUS					<!-- 처리상태(A) -->
				,REASON					<!-- 사유 -->
				,FRST_REGISTER_PNTTM	<!-- 로그인일자 -->
			)
			VALUES
			(
				 #{worktypecodeId} 		<!-- 업무코드 ID -->
				,#{refEqIdc} 			<!-- IDC고유 SEQ -->
				,#{refEqList} 			<!-- 서버고유SEQ -->
				,#{refEqIdpwd} 			<!-- 모듈고유SEQ -->
				,#{refNrlmber}			<!-- 회원고유번호 SEQ -->
				,#{refAllowIp}			<!-- 허용IP SEQ -->
				,#{processID}			<!-- 프로세스 ID -->
				,'A'					<!-- 처리상태(A) -->
				,#{reason}				<!-- 사유 -->
				,now()					<!-- 최초등록ID -->
			)
	</update>


	<update id="UpdateLogOutAccLog"  parameterType="MyMap">
		UPDATE EQ_ACCLOG
		SET
			 STTUS = 'E'
			,LAST_UPDUSR_PNTTM = now()
		WHERE
			PROCESSID = #{processid}
	</update>

	<update id="UpdateLogOutAccLogByRefNrlmberWithProcessid"  parameterType="MyMap">
		UPDATE EQ_ACCLOG
		SET
			 STTUS = 'E'
			,LAST_UPDUSR_PNTTM = now()
		WHERE
			PROCESSID = #{processid}
		AND	REF_NRLMBER = #{refNrlmber}
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">

	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">

	</update>



	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingAllCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			EQ_ACCLOG
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListAllData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 SEQ														as seq				    <!--서버고유ID-->

			 	,WORKTYPECODE_ID 												as worktypecodeId	<!-- 업무코드 ID -->
				,( SELECT NAME FROM CTN_CODE WHERE CODE_SEQ = WORKTYPECODE_ID ) as worktypecodeName <!-- 업무명칭 -->

				,REF_EQ_IDC 									  			as refEqIdc				<!-- IDC고유 SEQ -->
			    ,( SELECT NAME FROM EQ_IDC WHERE SEQ = REF_EQ_IDC ) 		as eqIdcName  			<!-- IDC 명칭 -->

				,REF_EQ_LIST 										  		as refEqList			<!-- 서버고유SEQ -->
				,( SELECT SV_IP1 FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) 	as eqListSvIp1  		<!-- 서버명칭 -->
				,( SELECT NAME FROM EQ_LIST WHERE SEQ = REF_EQ_LIST ) 		as eqListName  			<!-- 서버명칭 -->

				,REF_EQ_IDPWD 										  		as refEqIdpwd			<!-- 계정 SEQ -->
				,( SELECT ID FROM EQ_IDPWD WHERE SEQ = REF_EQ_IDPWD ) 		as eqIdpwdID  			<!-- 계정 ID -->


				,REF_NRLMBER			as refNrlmber												<!-- 회원고유번호 SEQ -->
				,( SELECT MBER_NAME FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberName  	<!-- 회원이름 -->
				,( SELECT UNIQ_ID   FROM CTN_NRLMBER WHERE SEQ = REF_NRLMBER ) as ctnNrlmberUniqID 	<!-- 회원ID -->

				,REF_ALLOW_IP			as refAllowIp												<!-- 허용IP SEQ -->
				,( SELECT ADDR   FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpAdd  	 	<!-- 허용IP -->
				,( SELECT NAME   FROM EQ_ALLOW_IP WHERE SEQ = REF_ALLOW_IP ) as eqAllowIpName  	 	<!-- 허용IP 이름 -->

				,PROCESSID													as processid			<!-- 프로세스 ID -->
				,STTUS														as sttus				<!-- 처리상태(A) -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 	as frstRegisterPnttm 	<!--로그인일자-->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	as lastUpdusrPnttm 		<!--로그아웃일자-->
		FROM
			 EQ_ACCLOG T1
		WHERE 1=1
			<include refid="addWhere"/>

		ORDER BY STTUS ASC, T1.FRST_REGISTER_PNTTM DESC
		LIMIT #{start}, #{end}
	</select>

</mapper>
