<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원관리 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.ctn.nrlmberHistory.NrlmberHistoryMapper">

	<sql id="addWhere">

		 <!--  부서고유ID-->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(chargeId)">
			AND DPAMENT_ID LIKE CONCAT('%',#{chargeId},'%')
		</if>

		<!--직위고유ID-->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(positionId)">
			AND POSITION_ID LIKE CONCAT('%',#{positionId},'%')
		</if>

		<!-- 고유ID -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(uniqId)">
			AND UNIQ_ID = #{uniqId}
		</if>

		<!-- 이름 -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberName)">
			AND MBER_NAME LIKE CONCAT('%',#{mberName},'%')
		</if>

		<!-- 휴대폰번호 -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(moblphonNo)">
			AND MOBLPHON_NO LIKE CONCAT('%',#{moblphonNo},'%')
		</if>

	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			CTN_NRLMBER_HISTORY T1
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
				 SEQ																				as  seq					<!-- 고유키값 -->
				,NRLMBER_ID																			as 	nrlmberId			<!-- 계정고유ID -->
				,ROLE_ID																			as  roleId				<!-- 권한ID -->
				,CHARGE_ID																			as  chargeId			<!-- 담당업무ID -->
				,(SELECT NAME FROM CTN_CHARGE WHERE SEQ = T1.CHARGE_ID )		 		   	    	as  chargeName  		<!-- 담당업무명 -->
				,(SELECT ROLE_NAME FROM CTN_ROLE WHERE ROLE_ID = T1.ROLE_ID )						as  roleName			<!-- 권한명 -->
				,MBER_STTUS																			as  mberSttus
				,( 	CASE WHEN MBER_STTUS  = 'A' THEN '활성화' ELSE '해지' END ) 					AS  mberSttusName		<!-- 상태명 -->
				,PROC_STTUS																			as  procSttus
				,DATE_FORMAT(T1.PROC_PNTTM, '%Y-%m-%d %H:%i:%s') 		            				as  procPnttm 			<!-- 처리일자 -->
				,FRST_REGISTER_ID																	as  frstRegisterId		<!-- 최초등록ID  -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		            		as  frstRegisterPnttm 	<!-- 최초등록일 -->
		FROM
			 CTN_NRLMBER_HISTORY T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY SEQ DESC
		LIMIT #{start}, #{end}
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" keyProperty="seq" useGeneratedKeys="true" >
		INSERT INTO CTN_NRLMBER_HISTORY
			(
				 ROLE_ID					<!-- 부서고유ID -->
				,CHARGE_ID					<!-- 담당업무고유ID -->
				,NRLMBER_ID					<!-- 회원 SEQ -->
				,MBER_STTUS					<!-- 정/부 -->
				,PROC_STTUS					<!-- 처리상태 -->
				,PROC_PNTTM					<!-- 처리일자 -->
				,FRST_REGISTER_ID			<!-- 최초등록ID -->
				,FRST_REGISTER_PNTTM		<!-- 최초등록일 -->
			)
			 VALUES
			(
			  	 #{roleId}				<!-- 부서고유ID -->
			  	,#{chargeId}			<!-- 담당업무고유ID -->
				,#{nrlmberId}			<!-- 회원SEQ -->
				,#{mberSttus}			<!-- 정/부 -->
				,#{procSttus}			<!-- 처리상태 -->
				,#{procPnttm}			<!-- 처리일자 -->
				,#{frstRegisterId}		<!-- 최초등록ID -->
				,now()					<!-- 최초등록일 -->
			)
	</update>


	<!-- 수정-->
	<update id="ModifyData" parameterType="myMap" keyProperty="seq" useGeneratedKeys="true" >
		INSERT INTO CTN_NRLMBER_HISTORY
			(
				 ROLE_ID					<!-- 부서고유ID -->
				,CHARGE_ID					<!-- 담당업무고유ID -->
				,NRLMBER_ID					<!-- 회원 SEQ -->
				,MBER_STTUS					<!-- 정/부 -->
				,PROC_STTUS					<!-- 처리상태 -->
				,PROC_PNTTM					<!-- 처리일자 -->
				,FRST_REGISTER_ID			<!-- 최초등록ID -->
				,FRST_REGISTER_PNTTM		<!-- 최초등록일 -->
			)
			 VALUES
			(
			  	 #{roleId}				<!-- 부서고유ID -->
			  	,#{chargeId}			<!-- 담당업무고유ID -->
				,#{nrlmberId}			<!-- 회원SEQ -->
				,#{mberSttus}			<!-- 정/부 -->
				,#{procSttus}			<!-- 처리상태 -->
				,#{procPnttm}			<!-- 처리일자 -->
				,#{frstRegisterId}		<!-- 최초등록ID -->
				,now()					<!-- 최초등록일 -->
			)
	</update>


	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		INSERT INTO CTN_NRLMBER_HISTORY
			(
				 ROLE_ID					<!-- 부서고유ID -->
				,CHARGE_ID					<!-- 담당업무고유ID -->
				,NRLMBER_ID					<!-- 회원 SEQ -->
				,MBER_STTUS					<!-- 정/부 -->
				,PROC_STTUS					<!-- 처리상태 -->
				,PROC_PNTTM					<!-- 처리일자 -->
				,FRST_REGISTER_ID			<!-- 최초등록ID -->
				,FRST_REGISTER_PNTTM		<!-- 최초등록일 -->
			)
			 VALUES
			(
			  	 #{roleId}				<!-- 부서고유ID -->
			  	,#{chargeId}			<!-- 담당업무고유ID -->
				,#{nrlmberId}			<!-- 회원SEQ -->
				,#{mberSttus}			<!-- 정/부 -->
				,"C"					<!-- 처리상태 -->
				,now()					<!-- 처리일자 -->
				,#{frstRegisterId}		<!-- 최초등록ID -->
				,now()					<!-- 최초등록일 -->
			)
	</update>

</mapper>
