<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원관리 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.ctn.code.CodeMapper">

	<sql id="addWhere">

		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(codeSeq)">
			AND CODE_SEQ 	=  #{codeSeq}
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(title)">
			AND TITLE 	=  #{title}
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(type)">
			AND TYPE 	=  #{type}
		</if>


	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			CTN_CODE
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 CODE_SEQ 														as codeSeq				<!-- 고유번호 -->
				,REF_CODE 														as refCode				<!-- 상위CODEID -->
				,PREFIX 														as prefix 				<!-- 코드접두사 -->
				,TITLE 															as title  				<!-- 분류코드명 -->
				,TYPE 															as type					<!-- 부모(P),자식(C) -->
				,ID 															as id					<!-- 코드ID -->
				,REMARK 														as remark				<!-- 설명 -->
				,NAME 															as name					<!-- 코드ID명 -->
				,FRST_REGISTER_ID 												as frstRegisterId		<!-- 최초등록ID -->
				,LAST_UPDUSR_ID 												as lastUpdusrId			<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		as frstRegisterPnttm 	<!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 		as lastUpdusrPnttm 		<!-- 최종등록일 -->
		FROM
			 CTN_CODE T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY ${sidx} ${sord}
		LIMIT #{start}, #{end}
	</select>

	<select id="ListData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 CODE_SEQ 														as codeSeq				<!-- 고유번호 -->
				,REF_CODE 														as refCode				<!-- 상위CODEID -->
				,PREFIX 														as prefix 				<!-- 코드접두사 -->
				,TITLE 															as title  				<!-- 분류코드명 -->
				,TYPE 															as type					<!-- 부모(P),자식(C) -->
				,ID 															as id					<!-- 코드ID -->
				,REMARK 														as remark				<!-- 설명 -->
				,NAME 															as name					<!-- 코드ID명 -->
				,SORT 															as sort					<!-- 정렬 -->
				,FRST_REGISTER_ID 												as frstRegisterId		<!-- 최초등록ID -->
				,LAST_UPDUSR_ID 												as lastUpdusrId			<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		as frstRegisterPnttm 	<!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 		as lastUpdusrPnttm 		<!-- 최종등록일 -->
		FROM
			 CTN_CODE T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY SORT ASC
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
				 CODE_SEQ 														as codeSeq				<!-- 고유번호 -->
				,REF_CODE 														as refCode				<!-- 상위CODEID -->
				,PREFIX 														as prefix 				<!-- 코드접두사 -->
				,TITLE 															as title  				<!-- 분류코드명 -->
				,TYPE 															as type					<!-- 부모(P),자식(C) -->
				,ID 															as id					<!-- 코드ID -->
				,REMARK 														as remark				<!-- 설명 -->
				,NAME 															as name					<!-- 코드ID명 -->
				,FRST_REGISTER_ID 												as frstRegisterId		<!-- 최초등록ID -->
				,LAST_UPDUSR_ID 												as lastUpdusrId			<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		as frstRegisterPnttm 	<!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 		as lastUpdusrPnttm 		<!-- 최종등록일 -->
		FROM
			 CTN_CODE T1
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
		INSERT INTO CTN_CODE
			(
				 REF_CODE 													<!-- 상위CODEID -->
				,PREFIX 													<!-- 코드접두사 -->
				,TITLE 														<!-- 분류코드명 -->
				,TYPE 														<!-- 부모(P),자식(C) -->
				,ID 														<!-- 코드ID -->
				,REMARK 													<!-- 설명 -->
				,NAME 														<!-- 코드ID명 -->
				,FRST_REGISTER_ID 											<!-- 최초등록ID -->
				,LAST_UPDUSR_ID 											<!-- 최종등록ID -->
				,FRST_REGISTER_PNTTM 										<!-- 최초등록일 -->
				,LAST_UPDUSR_PNTTM 											<!-- 최종등록일 -->
			)
			 VALUES
			(
			  	 #{refCode}					<!-- 상위CODEID -->
				,#{prefix}					<!-- 코드접두사 -->
				,#{title}					<!-- 분류코드명 -->
				,#{type}					<!-- 부모(P),자식(C) -->
				,#{id}						<!-- 코드ID -->
				,#{remark}					<!-- 설명 -->
				,#{name}					<!-- 코드ID명 -->
				,#{frstRegisterId}			<!-- 최초등록ID -->
				,#{lastUpdusrId}			<!-- 마지막수정ID -->
				,NOW()						<!-- 최초등록시점 -->
				,NOW()						<!-- 마지막수정시점 -->
			)
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE COMTNGNRLMBER
			 SET
				 LAST_UPDUSR_ID 	=  #{lastUpdusrId}
				,LAST_UPDUSR_PNTTM  =  now()
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(dpamentId)">   	,DPAMENT_ID = #{dpamentId}  </if>  	 <!-- 부서ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(positionId)">   	,POSITION_ID = #{positionId}  </if>   <!-- 직위ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberId)">   		,MBER_ID = #{mberId}  	 </if>  	 <!-- 회원ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(uniqId)">   		,UNIQ_ID = #{uniqId}  	 </if>  	 <!-- 고유ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(password)">   	,PASSWORD = #{password}  </if>  	 <!-- 비밀번호 -->


			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberName)">   	,MBER_NAME = #{mberName}    </if>  <!-- 비밀번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberSttus)">   	,MBER_STTUS = #{mberSttus}  </if>  <!-- 상태 -->

			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(moblphonNo)">    ,MOBLPHON_NO = #{moblphonNo}  	  </if>  <!-- 휴대폰번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(emailAddress)">  ,EMAIL_ADDRESS = #{emailAddress}  </if>  <!-- Email 주소 -->

		WHERE MBER_ID = #{mberId}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM COMTNGNRLMBER WHERE SEQ = #{seq}
	</update>

</mapper>
