<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원관리 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.ctn.nrlmber.NrlmberrMapper">

	<sql id="addWhere">

		<!-- 부서고유ID -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(dpamentId)">
			AND DPAMENT_ID LIKE CONCAT('%',#{dpamentId},'%')
		</if>

		<!-- 직위고유ID -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(positionId)">
			AND POSITION_ID LIKE CONCAT('%',#{positionId},'%')
		</if>

		<!-- 고유ID -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(uniqId)">
			AND UNIQ_ID LIKE CONCAT('%',#{uniqId},'%')
		</if>

		<!-- 이름 -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberName)">
			AND MBER_NAME LIKE CONCAT('%',#{mberName},'%')
		</if>

		<!-- 휴대폰번호 -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(moblphonNo)">
			AND MOBLPHON_NO LIKE CONCAT('%',#{moblphonNo},'%')
		</if>


	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			CTN_NRLMBER
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 SEQ				                                                       		as seq			<!-- 회원ID -->
				,DPAMENT_ID				                                                       as dpamentId			<!-- 부서고유ID -->
				,POSITION_ID				                                                   as positionId		<!-- 직위고유ID -->
				,'' 	   																		 as dpamentName 		<!-- 부서명 -->
				,''																				 as positionName  	<!-- 직위명 -->
<!-- 				,(SELECT DPAMENT_NAME FROM COMTNDPAMENT WHERE DPAMENT_ID = T1.DPAMENT_ID ) 	   as dpamentName 		부서명 -->
<!-- 				,(SELECT POSITION_NAME FROM COMTNPOSITION WHERE POSITION_ID = T1.POSITION_ID ) as positionName  	직위명 -->
				,UNIQ_ID				                                  		               as uniqId			<!-- 고유ID -->
				,PASSWORD				                                  		               as password			<!-- 비밀번호 -->
				,MBER_NAME				                                  		               as mberName			<!-- 이름 -->
				,MBER_STTUS				                                  		               as mberSttus			<!-- 상태 -->
				,MOBLPHON_NO			                                  		               as moblphonNo		<!-- 휴대폰번호 -->
				,EMAIL_ADDRESS			                                  		               as emailAddress		<!-- Email 주소 -->
				,FRST_REGISTER_ID		                                  		               as frstRegisterId	<!-- 최초등록ID -->
				,LAST_UPDUSR_ID			                                  		               as lastUpdusrId		<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		               as frstRegisterPnttm <!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	  	               as lastUpdusrPnttm 	<!-- 최종등록일 -->
		FROM
			 CTN_NRLMBER T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY SEQ DESC
		LIMIT #{start}, #{end}
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
				 SEQ				                                                       		as seq			<!-- 회원ID -->
				,DPAMENT_ID				                                                       as dpamentId			<!-- 부서고유ID -->
				,POSITION_ID				                                                   as positionId		<!-- 직위고유ID -->
				,'' 	   																		 as dpamentName 		<!-- 부서명 -->
				,''																				 as positionName  	<!-- 직위명 -->
<!-- 				,(SELECT DPAMENT_NAME FROM COMTNDPAMENT WHERE DPAMENT_ID = T1.DPAMENT_ID ) 	   as dpamentName 		부서명 -->
<!-- 				,(SELECT POSITION_NAME FROM COMTNPOSITION WHERE POSITION_ID = T1.POSITION_ID ) as positionName  	직위명 -->
				,UNIQ_ID				                                  		               as uniqId			<!-- 고유ID -->
				,PASSWORD				                                  		               as password			<!-- 비밀번호 -->
				,MBER_NAME				                                  		               as mberName			<!-- 이름 -->
				,MBER_STTUS				                                  		               as mberSttus			<!-- 상태 -->
				,MOBLPHON_NO			                                  		               as moblphonNo		<!-- 휴대폰번호 -->
				,EMAIL_ADDRESS			                                  		               as emailAddress		<!-- Email 주소 -->
				,FRST_REGISTER_ID		                                  		               as frstRegisterId	<!-- 최초등록ID -->
				,LAST_UPDUSR_ID			                                  		               as lastUpdusrId		<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		               as frstRegisterPnttm <!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	  	               as lastUpdusrPnttm 	<!-- 최종등록일 -->
		FROM
			 CTN_NRLMBER T1
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
		INSERT INTO CTN_NRLMBER
			(
				 DPAMENT_ID					<!-- 부서고유ID -->
				,POSITION_ID				<!-- 직위고유ID -->
				,UNIQ_ID					<!-- 고유ID -->
				,PASSWORD					<!-- 비밀번호 -->
				,MBER_NAME					<!-- 이름 -->
				,MBER_STTUS					<!-- 상태 -->
				,MOBLPHON_NO				<!-- 휴대폰번호 -->
				,EMAIL_ADDRESS				<!-- Email 주소 -->
				,FRST_REGISTER_ID			<!-- 최초등록ID -->
				,FRST_REGISTER_PNTTM		<!-- 최초등록일 -->
				,LAST_UPDUSR_PNTTM			<!-- 최종등록일 -->
			)
			 VALUES
			(
			  	 #{dpamentId}			<!-- 부서고유ID -->
			  	,#{positionId}			<!-- 직위고유ID -->
				,#{uniqId}				<!-- 고유ID -->
				,password(#{password})	<!-- 비밀번호 -->
				,#{mberName}			<!-- 이름 -->
				,#{mberSttus}			<!-- 상태 -->
				,#{moblphonNo}			<!-- 휴대폰번호 -->
				,#{emailAddress}		<!-- Email 주소 -->
				,#{frstRegisterId}		<!-- 최초등록ID -->
				,now()					<!-- 최초등록일 -->
				,now()					<!-- 최종등록일 -->
			)
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE COMTNGNRLMBER
			 SET
				 LAST_UPDUSR_ID 	=  #{lastUpdusrId}
				,LAST_UPDUSR_PNTTM  =  now()
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(dpamentId)">   	,DPAMENT_ID = #{dpamentId}  </if>  	 <!-- 부서ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(positionId)">   	,POSITION_ID = #{positionId}  </if>   <!-- 직위ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberId)">   		,MBER_ID = #{mberId}  	 </if>  	 <!-- 회원ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(uniqId)">   		,UNIQ_ID = #{uniqId}  	 </if>  	 <!-- 고유ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(password)">   	,PASSWORD = #{password}  </if>  	 <!-- 비밀번호 -->


			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberName)">   	,MBER_NAME = #{mberName}    </if>  <!-- 비밀번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberSttus)">   	,MBER_STTUS = #{mberSttus}  </if>  <!-- 상태 -->

			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(moblphonNo)">    ,MOBLPHON_NO = #{moblphonNo}  	  </if>  <!-- 휴대폰번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(emailAddress)">  ,EMAIL_ADDRESS = #{emailAddress}  </if>  <!-- Email 주소 -->

		WHERE MBER_ID = #{mberId}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM COMTNGNRLMBER WHERE SEQ = #{seq}
	</update>

</mapper>
