<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원관리 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.ctn.nrlmber.NrlmberrMapper">

	<sql id="addWhere">

		 <!--  부서고유ID--> 
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(chargeId)">
			AND DPAMENT_ID LIKE CONCAT('%',#{chargeId},'%')
		</if>

		<!--직위고유ID--> 
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(positionId)">
			AND POSITION_ID LIKE CONCAT('%',#{positionId},'%')
		</if>

		<!-- 고유ID -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(uniqId)">
			AND UNIQ_ID = #{uniqId} 
		</if>

		<!-- 이름 -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberName)">
			AND MBER_NAME LIKE CONCAT('%',#{mberName},'%')
		</if>

		<!-- 휴대폰번호 -->
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(moblphonNo)">
			AND MOBLPHON_NO LIKE CONCAT('%',#{moblphonNo},'%')
		</if>


	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			CTN_NRLMBER T1
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 	 SEQ				                                                       	   																as seq				<!-- 회원ID -->
				,ROLE_ID				                                                   	   															as roleId			<!-- 권한ID -->
				,CHARGE_ID																	   														as chargeId    		<!-- 담당업무고유ID -->
				,(SELECT NAME FROM CTN_CHARGE WHERE SEQ = T1.CHARGE_ID )		 		   	    as name   			<!-- 담당업무명 -->
				,(SELECT ROLE_NAME FROM CTN_ROLE WHERE ROLE_ID = T1.ROLE_ID )			as roleName			<!-- 권한명 -->
				,UNIQ_ID				                                  		              																as uniqId			<!-- 고유ID -->
				,PASSWORD				                                  		               														as password			<!-- 비밀번호 -->
				,MBER_NAME				                                  		              													as mberName			<!-- 이름 -->
				,MBER_STTUS				                                  		               													as mberSttus			<!-- 상태 -->
				,MBER_RATING				                                  		           														as mberRating		<!-- 담당책임(정/부)-->
				,MOBLPHON_NO			                                  		               													as moblphonNo		<!-- 휴대폰번호 -->
				,EMAIL_ADDRESS			                                  		               												as emailAddress		<!-- Email 주소 -->
				,FRST_REGISTER_ID		                                  		               												as frstRegisterId	<!-- 최초등록ID -->
				,LAST_UPDUSR_ID			                                  		               												as lastUpdusrId		<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		            as frstRegisterPnttm <!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	  	            as lastUpdusrPnttm 	<!-- 최종등록일 -->
		FROM
			 CTN_NRLMBER T1
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY SEQ DESC
		LIMIT #{start}, #{end}
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
				 SEQ				                                                       	   as seq				<!-- 회원ID -->
				,ROLE_ID				                                                   	   as roleId			<!-- 권한ID -->
				,CHARGE_ID																	   as chargeId   		<!-- 담당업무고유ID -->
				,UNIQ_ID				                                  		               as uniqId			<!-- 고유ID -->
				,PASSWORD				                                  		               as password			<!-- 비밀번호 -->
				,MBER_STTUS				                                  		               as mberSttus			<!-- 상태 -->
				,MBER_RATING			                                  		               as mberRating		<!-- 담당책임(정/부)-->
				,MBER_NAME				                                  		               as mberName			<!-- 이름 -->
				,MOBLPHON_NO			                                  		               as moblphonNo		<!-- 휴대폰번호 -->
				,EMAIL_ADDRESS			                                  		               as emailAddress		<!-- Email 주소 -->
				,FRST_REGISTER_ID		                                  		               as frstRegisterId	<!-- 최초등록ID -->
				,LAST_UPDUSR_ID			                                  		               as lastUpdusrId		<!-- 최종등록ID -->
				,DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') 		               as frstRegisterPnttm <!-- 최초등록일 -->
				,DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d %H:%i:%s') 	  	               as lastUpdusrPnttm 	<!-- 최종등록일 -->
		FROM
			 CTN_NRLMBER T1
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" keyProperty="seq" useGeneratedKeys="true" >
		INSERT INTO CTN_NRLMBER
			(
				 ROLE_ID					<!-- 권한고유ID -->
				,CHARGE_ID					<!-- 담당업무고유ID -->
				,UNIQ_ID					<!-- 고유ID -->
				,PASSWORD					<!-- 비밀번호 -->
				,MBER_NAME					<!-- 이름 -->
				,MBER_RATING				<!-- 담당책임(정/부)-->
				,MBER_STTUS					<!-- 상태 -->
				,MOBLPHON_NO				<!-- 휴대폰번호 -->
				,EMAIL_ADDRESS				<!-- Email 주소 -->
				,FRST_REGISTER_ID			<!-- 최초등록ID -->
				,FRST_REGISTER_PNTTM		<!-- 최초등록일 -->
				,LAST_UPDUSR_PNTTM			<!-- 최종등록일 -->
			)
			 VALUES
			(
			  	 #{roleId}				<!-- 부서고유ID -->
			  	,#{chargeId}			<!-- 담당업무고유ID -->
				,#{uniqId}				<!-- 고유ID -->
				,password(#{password})	<!-- 비밀번호 -->
				,#{mberName}			<!-- 이름 -->
				,#{mberRating}			<!-- 담당책임(정/부)-->
				,#{mberSttus}			<!-- 상태 -->
				,#{moblphonNo}			<!-- 휴대폰번호 -->
				,#{emailAddress}		<!-- Email 주소 -->
				,#{frstRegisterId}		<!-- 최초등록ID -->
				,now()					<!-- 최초등록일 -->
				,now()					<!-- 최종등록일 -->
			)
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE CTN_NRLMBER
			 SET
				 LAST_UPDUSR_ID 	=  #{lastUpdusrId}
				,LAST_UPDUSR_PNTTM  =  now()
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(chargeId)">   	,CHARGE_ID = #{chargeId} 		</if>    <!-- 직위ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(uniqId)">   		,UNIQ_ID = #{uniqId}  	 		</if>  	 <!-- 고유ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(password)">   	,PASSWORD = #{password}  		</if>  	 <!-- 비밀번호 -->


			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberName)">   	,MBER_NAME = #{mberName}    </if>  <!-- 비밀번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberSttus)">   	,MBER_STTUS = #{mberSttus}  </if>  <!-- 상태 -->

			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(moblphonNo)">    ,MOBLPHON_NO = #{moblphonNo}  	  </if>  <!-- 휴대폰번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(emailAddress)">  ,EMAIL_ADDRESS = #{emailAddress}  </if>  <!-- Email 주소 -->

		WHERE SEQ = #{seq}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM CTN_NRLMBER WHERE SEQ = #{seq}
	</update>

</mapper>
