<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 수신입금계좌정보 -->
<mapper namespace="com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.mapper.eqlist.EqListMapper">

	<sql id="addWhere">
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(seq)">
			AND T1.SEQ 	=  #{seq}
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(refEqIdc)">
			AND T1.REF_EQ_IDC 	=  #{refEqIdc}
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(purposeUse)">
			AND T1.PURPOSE_USE 	=  #{purposeUse}
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svIp1)">
			AND T1.SV_IP1 	LIKE CONCAT('%',#{svIp1},'%')
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sDate)">
			<![CDATA[AND DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d') 	>= #{sDate}]]>
		</if>
		<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(eDate)">
			<![CDATA[AND DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, '%Y-%m-%d') 	<= #{eDate}]]>
		</if>
	</sql>

	<!-- 페이징 갯수 -->
	<select id="SelectOnePagingCount" parameterType="myMap" resultType="int">
		SELECT
			COUNT(0)
		FROM
			EQ_LIST AS T1
		LEFT OUTER JOIN EQ_IDC AS T2
			ON T1.REF_EQ_IDC = T2.SEQ
		WHERE 1=1
		<include refid="addWhere"/>
	</select>

	<!-- 페이징 목록 -->
	<select id="ListPagingData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			T1.SEQ as seq ,																	<!--서버고유ID-->
			T1.REF_EQ_IDC as refEqIdc ,						 								<!--IDC 고유ID-->
			T2.NAME as idcName,																<!-- IDC NAME -->
		 	T1.NAME as name ,																<!--서버명-->
			T1.SV_IP1 as svIp1 ,															<!--서버 IP-->
			T1.SV_PORT as svPort ,															<!--서버 SSH PORT-->
			T1.PURPOSE_USE as purposeUse,													<!--서버종류-->

			(SELECT NAME FROM CTN_CODE WHERE CODE_SEQ = T1.PURPOSE_USE) AS purposeUseName,  <!--서버종류-->

			T1.MBER_RATING as mberRating , 													<!-- 담당책임 (정/부) -->
			( 	CASE WHEN MBER_RATING  = 'M' THEN '정'
				WHEN MBER_RATING =  'D' THEN '부' END ) 	as mberRatingName,  				<!-- 정/부 -->
			DATE_FORMAT(T1.RECEIVING_PNTTM, '%Y-%m-%d') as receivingPnttm , 				<!--입고일-->
			T1.FRST_REGISTER_ID as frstRegisterId ,
			T1.LAST_UPDUSR_ID as lastUpdusrId ,
			DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') as frstRegisterPnttm ,	<!--최초등록일-->
			DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, 	'%Y-%m-%d %H:%i:%s') as lastUpdusrPnttm		<!--최종등록일-->
		FROM
			EQ_LIST AS T1
		LEFT OUTER JOIN EQ_IDC AS T2
			ON T1.REF_EQ_IDC = T2.SEQ
		WHERE 1=1
			<include refid="addWhere"/>
		ORDER BY T1.SV_IP1 ASC
		LIMIT #{start}, #{end}
	</select>

	<!-- 상세 -->
	<select id="SelectOneData" parameterType="myMap" resultType="myCamelMap">
		SELECT
			T1.SEQ as seq ,																	<!--서버고유ID-->
			T1.REF_EQ_IDC as refEqIdc ,						 								<!--IDC 고유ID-->
			T2.NAME as idcName,																<!-- IDC NAME -->
			T1.NAME as name , 	 															<!--서버명-->
			T1.SV_IP1 as svIp1 ,															<!--서버 IP-->
			T1.SV_PORT as svPort ,															<!--서버 SSH PORT-->
			T1.PURPOSE_USE as purposeUse,													<!--서버종류-->

			(SELECT NAME FROM CTN_CODE WHERE CODE_SEQ = T1.PURPOSE_USE) AS purposeUseName,  <!--서버종류-->

			T1.MBER_RATING as mberRating , 													<!-- 담당책임 (정/부) -->
			( 	CASE WHEN MBER_RATING  = 'M' THEN '정'
			WHEN MBER_RATING =  'D' THEN '부' END ) 	as mberRatingName,						<!-- 정/부 -->
			DATE_FORMAT(T1.RECEIVING_PNTTM, '%Y-%m-%d') as receivingPnttm , 				<!--입고일-->
			T1.FRST_REGISTER_ID as frstRegisterId ,
			T1.LAST_UPDUSR_ID as lastUpdusrId ,
			DATE_FORMAT(T1.FRST_REGISTER_PNTTM, '%Y-%m-%d %H:%i:%s') as frstRegisterPnttm ,	<!--최초등록일-->
			DATE_FORMAT(T1.LAST_UPDUSR_PNTTM, 	'%Y-%m-%d %H:%i:%s') as lastUpdusrPnttm		<!--최종등록일-->
		FROM
			EQ_LIST AS T1
		LEFT OUTER JOIN EQ_IDC AS T2
			ON T1.REF_EQ_IDC = T2.SEQ
		WHERE 1=1
			<include refid="addWhere"/>
	</select>

	<!-- 추가 -->
	<update id="RegisterData" parameterType="myMap" >
		INSERT INTO EQ_LIST
			(
				 REF_EQ_IDC 													    <!--IDC 고유ID-->
				,`NAME` 														    <!--서버명-->
				,MODEL 																<!--기종-->
				,MANUFACTURE														<!-- 제조업체 -->
				,`USAGE` 															<!--사용용도-->
				,`POSITION` 												 	    <!--상면-->
				,STTUS 												 	   	 		<!--상태-->
				,PROPERTY_NAME														<!-- 자산명 -->
				,PROPERTY_NUM														<!-- 자산번호 -->
				,PURPOSE_USE														<!--서버종류-->
				,SEPEC_CPU															<!-- 스펙 씨피유 -->
				,SEPEC_MM														    <!-- 스펙 메모리 -->
				,SEPEC_DISK															<!-- 스펙 디스크 -->
				,SEPEC_NIC															<!-- 스펙 랜카드 -->
				,OS_TYPE															<!-- OS타입 -->
				,SV_IP1 			                                            	<!--서버 IP1-->
				,SV_IP2 			                                            	<!--서버 IP2-->
				,SV_IP3 			                                            	<!--서버 IP3-->
				,SV_IP4 			                                            	<!--서버 IP4-->
				,SV_PORT 			                                    			<!--서버 SSH PORT-->
				,MBER_RATING														<!-- 담당책임 (정/부) -->
				,MANAGER_ID 			                                    		<!--관리자ID-->
				,RECEIVING_PNTTM 													<!--입고일-->
				,FRST_REGISTER_PNTTM 	 											<!--최초등록일-->
				,LAST_UPDUSR_PNTTM 	 												<!--최종등록일-->
				,FRST_REGISTER_ID 	 												<!--최초등록ID-->
				,LAST_UPDUSR_ID 	 												<!--최종등록ID-->
			)
			 VALUES
			(
				 #{idcSeq}	 		    <!--IDC 고유ID-->
				,#{svName}	 		    <!--서버명-->
				,#{svModelName}	 		<!--기종-->
				,#{svManufactureName}	<!--제조업체-->
				,#{svUsage}	 		    <!--사용용도-->
				,#{svPosition}	 	    <!--상면-->
				,#{svSttus}	 	    	<!--상태-->
				,#{propertyName}		<!-- 자산명 -->
				,#{propertyNum}		    <!-- 자산번호 -->
				,#{purposeUse}			<!-- 서버종류 -->
				,#{svSepecCpuName}		<!-- 스펙 씨피유 -->
				,#{svSepecMmName}		<!-- 스펙 메모리 -->
				,#{svSepecDiskName}		<!-- 스펙 디스크 -->
				,#{svSepecNicName}		<!-- 스펙 랜카드 -->
				,#{svOsTypeName}		<!-- OS타입 -->
				,#{svIp1} 				<!--서버 IP-->
				,#{svIp2} 				<!--서버 IP-->
				,#{svIp3} 				<!--서버 IP-->
				,#{svIp4} 				<!--서버 IP-->
				,#{svPort} 				<!--서버 SSH PORT-->
				,#{mberRating} 			<!--담당책임 (정/부)-->
				,#{entrprsmberSeq}		<!--관리자ID-->
				,#{receivingPnttm} 		<!--입고일-->
				,now() 					<!--최초등록일-->
				,now() 					<!--최종등록일-->
				,#{frstRegisterId} 		<!--최초등록ID-->
				,#{lastUpdusrId} 		<!--최종등록ID-->
			)
	</update>

	<!-- 수정 -->
	<update id="ModifyData" parameterType="myMap">
		UPDATE EQ_LIST
			 SET
				LAST_UPDUSR_PNTTM  =  now()
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(idcId)">   	   	,IDC_ID = #{idcId}    			        </if>  	 <!-- 서버고유ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svModel)">  	   	,SV_MODEL = #{svModel}  			    </if>  	 <!-- 기종 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svManufacture)"> ,SV_MANUFACTURE = #{svManufacture}  	</if>  	 <!-- 제조업체 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svName)">  	   	,SV_NAME = #{svName}  			        </if>  	 <!-- 서버명 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svUsage)"> 	   	,SV_USAGE = #{svUsage}  			    </if>  	 <!-- 사용용도 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svPosition)">    ,SV_POSITION = #{svPosition}  	        </if>  	 <!-- 서버 IP -->

			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(propertyName)"> 	,PROPERTY_NAME = #{propertyName}        </if>  <!-- 자산명 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(propertyNum)">  	,PROPERTY_NUM = #{propertyNum}  	    </if>   <!-- 자산번호 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(purposeUse)">  	,PURPOSE_USE = #{purposeUse}  	   		</if>   <!-- 서버종류 -->


			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sepecCpu)">     	,PROPERTY_NUM = #{sepecCpu}  		    </if>  	 <!-- 스펙 씨피유 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sepecMm)">   	,SEPEC_MM = #{sepecMm}  			    </if>  	 <!-- 스펙 메모리 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sepecDisk)">    	,SEPEC_DISK = #{sepecDisk}  		    </if>  	 <!-- 스펙 디스크 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(sepecNic)">     	,SEPEC_NIC = #{sepecNic}  		        </if>  	 <!-- 스펙 랜카드 -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(osType)">        ,OS_TYPE = #{osType}  			        </if>  	 <!-- OS타입 -->

			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svIp)">     	   	,SV_IP = #{svIp}  						</if>  	 <!-- 서버 IP -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(svPort)">        ,SV_PORT = #{svPort}  					</if>  	 <!-- 서버 SSH PORT -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(mberRating)">    ,MBER_RATING = #{mberRating}  			</if>  	 <!-- 담당책임(정/부) -->

			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(managerId)">     ,MANAGER_ID = #{managerId}  			</if>  	 <!-- 관리자ID -->
			<if test="@com.inbiznetcorp.SecureAccess.SecureAccessMng.Web.framework.config.mybatis.Utily@isNotEmpty(receivingPnttm)">,RECEIVING_PNTTM = #{receivingPnttm}  	</if>  	 <!-- 입고일 -->
		WHERE SEQ = #{seq}
	</update>

	<!-- 삭제 -->
	<update id="DeleteData" parameterType="myMap">
		DELETE FROM EQ_LIST WHERE SEQ = #{seq}

	</update>

</mapper>
